body {
  background: #e5e5e5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.synth-container {
  width: 1239px;
  margin: 10px auto;
}
label {
  display: block;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
canvas {
  cursor: pointer;
}
.button {
  height: 150px;
  width: 150px;
  background: #eee;
  margin: 5px auto 13px;
  border-radius: 75px;
  cursor: pointer;
  position: relative;
}
.button:before {
  position: absolute;
  content: '';
}
.button.play:before {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #888;
  top: 45px;
  left: 52px;
}
.button.stop:before,
.button.record:before {
  height: 56px;
  width: 56px;
  background: #888;
  top: 47px;
  left: 47px;
}
.button.stop:before:hover,
.button.record:before:hover {
  border-left-color: #444;
}
.button.record:before {
  border-radius: 56px;
}
.button:hover {
  background: #ebebeb;
}
.button:hover.play:before {
  border-left-color: #444;
}
.button:hover.stop:before,
.button:hover.record:before {
  background: #444;
}
.cb {
  clear: both;
}
.module {
  float: left;
  width: 175px;
  height: 450px;
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
}
.module p {
  color: #333;
  margin: 10px 0 5px;
}
.module.vco a {
  display: block;
  float: left;
  height: 25px;
  width: 25px;
  margin: 4px;
  border: 5px solid #999;
  background-color: #999;
  background-size: cover;
}
.module.vco a.active,
.module.vco a:hover {
  background-color: #666;
  border: 5px solid #666;
}
.module.vco a.sine {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIBIwEqmOAVnhfwYGFD6KGTCFMEU4FYMUoktiVYzLjRia8XkGxTmEfA03mZBCuM+JVggA/QkKCtM5VukAAAAASUVORK5CYII=);
}
.module.vco a.sine:hover,
.module.vco a.sine.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIBIwEqmOAa7w/////xkZGXFqBEvAFOFTzIguiUsxVquwasblGXTn4PU1ssmkBw+h8AQAER8oB6jybw8AAAAASUVORK5CYII=);
}
.module.vco a.square {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2NkYGD4z4AJGNGE/oMEQAqRJdD5ID2jCuEhR1LwYEQBAGoIHAGpnTbNAAAAAElFTkSuQmCC);
}
.module.vco a.square:hover,
.module.vco a.square.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALElEQVQYV2P8////fwY0wMjIyIgsBFLDCCaQJND5IA2jCuHhRlLwoEcAiA8AMMdv41kn+PIAAAAASUVORK5CYII=);
}
.module.vco a.saw {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQYV43MUQoAIAgE0bz/oY0NkjRXne/HyJqlMnAK00EgmPJ4EYYUvojCiFKYoQ8y5GCFDHbowA16uhIB+RweBQAAAABJRU5ErkJggg==);
}
.module.vco a.saw:hover,
.module.vco a.saw.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQYV43MSwoAMAgD0eb+h06xoPRjtLN+DMZHJInOGTJTwnUCUB4d2U3CHUl4oxRm6IEKHbBCATvkcAI3j0fjvT6VJgAAAABJRU5ErkJggg==);
}
.module.vco a.triangle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV2NkwAT/oUKMyFIoHKgEUQpBimCakdlwQZgtRClEMQHJGWAbkN1IlEJsilCcg9XhaCEGNgSkEJ9pcFOJVggAFbkSCRlAlakAAAAASUVORK5CYII=);
}
.module.vco a.triangle:hover,
.module.vco a.triangle.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV42OQQoAMAjD1v8/ukOhojJGPakNUZxVJBkrAOjRGCKwwIBk6n1e6HoL3Aa9oQtltMAXpJeUpdECf9CwuuAFo51IAzliit8AAAAASUVORK5CYII=);
}
.module.keyboard-container {
  width: 100%;
  height: auto;
  border: none;
}
.module.keyboard-container .key {
  width: 7.1428%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #eee;
  float: left;
  cursor: pointer;
}
.module.keyboard-container .key.pressed {
  background: #ddd;
}
.module.keyboard-container .key-container {
  position: relative;
  float: left;
  width: 0;
}
.module.keyboard-container .key-container .black {
  height: 130px;
  width: 35px;
  background: #222;
  border: none;
  position: absolute;
  top: 0;
  left: -17px;
}
.module.keyboard-container .key-container .black.pressed {
  background: #555;
}
