body {
  background: #e5e5e5;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.synth-container {
  width: 1239px;
  margin: 10px auto;
}
label {
  display: block;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  color: #444;
}
canvas {
  cursor: pointer;
}
.button {
  height: 150px;
  width: 150px;
  background: #eee;
  margin: 5px auto 13px;
  border-radius: 75px;
  cursor: pointer;
  position: relative;
}
.button:before {
  position: absolute;
  content: '';
}
.button.play:before {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #888;
  top: 45px;
  left: 52px;
}
.button.stop:before,
.button.record:before {
  height: 56px;
  width: 56px;
  background: #888;
  top: 47px;
  left: 47px;
}
.button.stop:before:hover,
.button.record:before:hover {
  border-left-color: #555;
}
.button.record:before {
  border-radius: 56px;
}
.button:hover {
  background: #ebebeb;
}
.button:hover.play:before {
  border-left-color: #555;
}
.button:hover.stop:before,
.button:hover.record:before {
  background: #555;
}
.cb {
  clear: both;
}
.module {
  float: left;
  width: 175px;
  height: 450px;
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
}
.module p {
  color: #444;
  margin: 10px 0 5px;
}
.module a {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 4px;
  border: 5px solid #999;
  background-color: #999;
  background-size: cover;
}
.module a.active,
.module a:hover {
  background-color: #666;
  border: 5px solid #666;
}
.module.vco a.sine {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIBIwEqmOAVnhfwYGFD6KGTCFMEU4FYMUoktiVYzLjRia8XkGxTmEfA03mZBCuM+JVggA/QkKCtM5VukAAAAASUVORK5CYII=);
}
.module.vco a.sine:hover,
.module.vco a.sine.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIBIwEqmOAa7w/////xkZGXFqBEvAFOFTzIguiUsxVquwasblGXTn4PU1ssmkBw+h8AQAER8oB6jybw8AAAAASUVORK5CYII=);
}
.module.vco a.square {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2NkYGD4z4AJGNGE/oMEQAqRJdD5ID2jCuEhR1LwYEQBAGoIHAGpnTbNAAAAAElFTkSuQmCC);
}
.module.vco a.square:hover,
.module.vco a.square.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALElEQVQYV2P8////fwY0wMjIyIgsBFLDCCaQJND5IA2jCuHhRlLwoEcAiA8AMMdv41kn+PIAAAAASUVORK5CYII=);
}
.module.vco a.saw {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQYV43MUQoAIAgE0bz/oY0NkjRXne/HyJqlMnAK00EgmPJ4EYYUvojCiFKYoQ8y5GCFDHbowA16uhIB+RweBQAAAABJRU5ErkJggg==);
}
.module.vco a.saw:hover,
.module.vco a.saw.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQYV43MSwoAMAgD0eb+h06xoPRjtLN+DMZHJInOGTJTwnUCUB4d2U3CHUl4oxRm6IEKHbBCATvkcAI3j0fjvT6VJgAAAABJRU5ErkJggg==);
}
.module.vco a.triangle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV2NkwAT/oUKMyFIoHKgEUQpBimCakdlwQZgtRClEMQHJGWAbkN1IlEJsilCcg9XhaCEGNgSkEJ9pcFOJVggAFbkSCRlAlakAAAAASUVORK5CYII=);
}
.module.vco a.triangle:hover,
.module.vco a.triangle.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV42OQQoAMAjD1v8/ukOhojJGPakNUZxVJBkrAOjRGCKwwIBk6n1e6HoL3Aa9oQtltMAXpJeUpdECf9CwuuAFo51IAzliit8AAAAASUVORK5CYII=);
}
.module.vco a.down {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQYV2NkwAT/GRgYGJGFUThQCRorQjcegw9zE7IEBhvZ4TBJdBrVqwwMDCAFMAA3gKggAADYcQ8JA+GpqgAAAABJRU5ErkJggg==);
}
.module.vco a.down:hover,
.module.vco a.down.disabled {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYV2NkQAP/////z8jIyIgsjMIBSdBYEbrxWPno7kBWBGPDHQ4TQKdBhqD4DqQA5nXkYCAqCACkgTwGvnJmqQAAAABJRU5ErkJggg==);
}
.module.vco a.up {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOUlEQVQYV2NkwAT/GRgYGJGFUTgMDAwgBTAAl0NWBDMBnYYbi2wFBhtkErobMPjobgK5h6DDaawIAJSPDwkOT1xQAAAAAElFTkSuQmCC);
}
.module.vco a.up:hover,
.module.vco a.up.disabled {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAO0lEQVQYV2NkQAP/////z8jIyIgsjMIBKYBJIiuEK4KZgE6DNIEVIVuBjc2I7gasfJIdjm413BNUMwkAlOo8BozYG/8AAAAASUVORK5CYII=);
}
.module a.forward {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQYV2NkwAT/GRgYGJGFUThIEigKcSkCqYcrxKcIrhCkCKQDLyDaJFymEHQTQd9hhBMAtEQJCaXFM6UAAAAASUVORK5CYII=);
}
.module a.forward:hover,
.module a.forward.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYV2NkQAP/////z8jIyIgsjMKBSaArxKoIpBhZIU5FyAoZQTrQ3YXOJ84kXKYQdBNB32ELJwDvviQGY3L3CQAAAABJRU5ErkJggg==);
}
.module a.random {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2NkQAX/0fiMMD6cwcDAAFKEzAepgYuRpRDNVlQb0K2CKcZwBjaF2NyK4XgUDyC7BZfV6O6lgYkAFssKC4iVcdUAAAAASUVORK5CYII=);
}
.module a.random:hover,
.module a.random.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQ0lEQVQYV2NkQAL/////j8xnZGRkhPHhDJAiZAmQAmQx0hUiW4luGogPNxHdrejOwFCIza1YTSRaIbpbMYIHJkCxiQB38SgLZXuXTwAAAABJRU5ErkJggg==);
}
.module a.backward {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPElEQVQYV2NkwAT/GRgYGJGFUTgMDAwYCkCKkRVhVYCsCKcCmCKQArwAZh1Bk2CmEHQTXoXoQQBSjGEiABRTCQlsGMegAAAAAElFTkSuQmCC);
}
.module a.backward:hover,
.module a.backward.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPUlEQVQYV2NkQAP/////z8jIyIgsjMLBpgCkGK4IlwK4InwKwIpACtDdhc4HW0fQJJgugm4ipBAlCHBZDQBv3CQG6zqPEAAAAABJRU5ErkJggg==);
}
.module.keyboard-container {
  width: 100%;
  height: auto;
  border: none;
}
.module.keyboard-container .key {
  width: 7.1428%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #eee;
  float: left;
  cursor: pointer;
}
.module.keyboard-container .key.pressed {
  background: #ddd;
}
.module.keyboard-container .key-container {
  position: relative;
  float: left;
  width: 0;
}
.module.keyboard-container .key-container .black {
  height: 130px;
  width: 35px;
  background: #444;
  border: none;
  position: absolute;
  top: 0;
  left: -17px;
}
.module.keyboard-container .key-container .black.pressed {
  background: #555;
}
