body {
  background: #e5e5e5;
  font-family: Arial;
}
label {
  display: block;
  color: #333;
  line-height: 2;
}
.module {
  float: left;
  width: 175px;
  height: 400px;
  text-align: center;
  background: #ddd;
  border: 1px solid #999;
}
.keyboard-container {
  width: 100%;
  height: auto;
  border: none;
}
.keyboard-container .key {
  width: 6.66%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: white;
  float: left;
  cursor: pointer;
}
.keyboard-container .key.pressed {
  background: #ddd;
}
.keyboard-container .key-container {
  position: relative;
  float: left;
  width: 0;
}
.keyboard-container .key-container .black {
  height: 130px;
  width: 35px;
  background: black;
  border: none;
  position: absolute;
  top: 0;
  left: -17px;
}
.keyboard-container .key-container .black.pressed {
  background: #555;
}
