doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/multi-seq.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    script(type="text/javascript" data-main="javascripts/ms-lib/main" src='javascripts/lib/require.js')
    script(type="text/javascript" src="javascripts/ms-lib/require-paths.js")
  body